@import '~@angular/material/theming';
@include mat-core();
$ClimaTempo-primary: mat-palette($mat-indigo);
$ClimaTempo-accent: mat-palette($mat-pink, A200, A100, A400);
$ClimaTempo-warn: mat-palette($mat-red);
$ClimaTempo-theme: mat-light-theme((
  color: (
    primary: $ClimaTempo-primary,
    accent: $ClimaTempo-accent,
    warn: $ClimaTempo-warn,
  )
));
@include angular-material-theme($ClimaTempo-theme);

